<div class="relative isolate overflow-hidden bg-gray-900 py-30 sm:py-35 lg:pb-60 lg:pt-40">

    <div
        class="hidden sm:absolute sm:top-30 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
        aria-hidden="true"
    >
        <div
            class="aspect-1097/845 w-[38.5625rem] bg-linear-to-tr from-[#F27405] to-[#F2A30F] opacity-30"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
    </div>
    <div
        class="absolute top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl max-sm:top-[-5rem] sm:top-[-15rem] sm:ml-5 sm:translate-x-40 sm:transform-gpu lg:-ml-40 lg:top-[-0rem] lg:rotate-50"
        aria-hidden="true"
    >
        <div
            class="aspect-1097/845 w-[63.5625rem] max-sm:w-[50.5625rem] lg:w-[45.5625rem] bg-linear-to-tr from-[#F27405] to-[#F2A30F] opacity-30"
            style="clip-path: polygon(74.1% 44.1%, 40% 40.6%, 100% 26.9%, 95.5% 0.1%, 90.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        >
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 sm:px-6">
        <div class="sm:px-2 prose invert">
            <h2
                class="text-5xl font-semibold tracking-tight sm:text-7xl" 
            >
                CELAKTION
            </h2>
            <p
                class="inline-flex items-center"
            >
                No es solo una expedición; es el inicio de los desafíos anuales
                de VIAX Community, donde la adrenalina y la solidaridad se
                fusionan para generar un impacto positivo en la sociedad
                Hondureña
            </p>
        </div>
        <div class="mt-10 sm:px-2">
            <div
                class="grid grid-cols-1 gap-x-8 gap-y-6 text-base/7 text-white sm:grid-cols-2 md:flex lg:gap-x-10"
            >
                <p>Conquista el punto más alto de Honduras <span aria-hidden="true">&rarr;</span></p
                >
                <p
                    >Supera tus límites en un desafío extremo <span aria-hidden="true">&rarr;</span
                    ></p
                >
                <p>Apoya una causa que transforma vidas</p
                >
            </div>
        </div>
    </div>
</div>
